@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

main{    
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.container{       
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-content:flex-start;
    align-items: center;
    flex-direction: line;
}

.cardleft{    
    width: 350px;
    height: 962px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    background: #202123;
}

#buttonnew{    
    width: 254px;
    height: 45px;
    margin: 9px;
    border-radius: 6px;
    border: solid 1px;
    border-color:#ffffff;
    background: #202123;
    color: #ffffff;
    font-weight: 400;
    font-size: 13.5px;  
    display: inline-flex;
    align-items: center;  
}

#plus{
    width: 18px;
    height: 18px;
    margin: 0 2px 0 25px;
    filter: invert(100%);
}

button h1{    
    width: 79px;
    height: 18px;
    font-size: 13.5px;
    font-weight: 500;
    color: white;
}

#buttonchatbot{       
    width: 254px;
    height: 45px;
    margin: 9px;
    border-radius: 6px;
    border: solid 1px;
    border-color:#ffffff;
    background: #343540;
    color: #ffffff;
    font-weight: 400;
    font-size: 13.5px;  
    display: inline-flex;
    align-items: center;  
}

#message{
    width: 13px;
    height: 13px;
    margin: 0 0 0 14px;
    
    
}

button h7{    
    width: 151px;
    height: 12px;
    font-size: 13.5px;
    font-weight: 500;
    color: white;
    margin: 0 6px 0 15px;
}

#pen{
    width: 13px;
    height: 13px;
    margin: 0 0 0 0;
    
}

#vector1{
    width: 13px;
    height: 13px;
    margin: 0 11px 0 13px;
    
}

.cardbutton{    
    margin: 389px 0 0 0;
}

#line{
    width: 244px;
    margin: 0 0 0 10px;    
}

#buttonclear{    
    width: 254px;
    height: 45px;
    margin: 9px;
    border: none;
    background: #202123;
    color: #ffffff;
    font-weight: 400;
    font-size: 13.5px;  
    display: inline-flex;
    align-items: center;
    margin:35px 0 0 0;  
}

#vector{
    width: 13px;
    height: 13px;
    margin: 0 0px 0 21px;
    
}

button h8{    
    width: 172px;
    height: 14px;
    font-size: 13.5px;
    font-weight: 500;
    color: white;    
}

#buttonlight{    
    width: 254px;
    height: 45px;
    margin: 9px;
    border: none;
    background: #202123;
    color: #ffffff;
    font-weight: 400;
    font-size: 13.5px;  
    display: inline-flex;
    align-items: center;
    margin:35px 0 0 0;
    
    
  
}

#sun{
    width: 15px;
    height: 15px;
    margin: 0 0px 0 21px;
    filter: invert(100%);
}

button h2{    
    width: 106px;
    height: 12px;
    font-size: 13.5px;
    font-weight: 500;
    color: white;    
}


#buttonopen{    
    width: 254px;
    height: 45px;
    margin: 9px;
    border: none;
    background: #202123;
    color: #ffffff;
    font-weight: 400;
    font-size: 13.5px;  
    display: inline-flex;
    align-items: center;
    margin:36px 0 0 0; 
}

#discord{
    width: 16.44px;
    height: 13px;
    margin: 0 13px 0 21px;
    filter: invert(100%);
}

button h3{    
    width: 106px;
    height: 12px;
    font-size: 13.5px;
    font-weight: 500;
    color: white;
}

#buttonupdates{    
    width: 254px;
    height: 45px;
    margin: 9px;
    border: none;
    background: #202123;
    color: #ffffff;
    font-weight: 400;
    font-size: 13.5px;  
    display: inline-flex;
    align-items: center;
    margin:36px 0 0 0;
    
  
}

#up{
    width: 14px;
    height: 14px;
    margin: 0 13px 0 21px;
    filter: invert(100%);
}

button h4{    
    width: 106px;
    height: 12px;
    font-size: 13.5px;
    font-weight: 500;
    color: white;
}

#buttonlogout{    
    width: 254px;
    height: 45px;
    margin: 9px;
    border: none;
    background: #202123;
    color: #ffffff;
    font-weight: 400;
    font-size: 13.5px;  
    display: inline-flex;
    align-items: center;
    margin: 36px 0 0 0;
    
   
  
}

#out{
    width: 15px;
    height: 15px;
    margin: 0 0 0 21px;
    filter: invert(100%);
}

button h5{    
    width: 85px;
    height: 12px;
    font-size: 13.5px;
    font-weight: 500;
    color: white;
    
}

.cardright{
    
    width: 2171px;
    height: 962px;
    display: flex;
    justify-content: center;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    background: #343541; 
}

.question{
    width: 480px;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    display: inline-flex;
    align-items: center;
    margin: 29px 837px 29px 245px;
}

#avatar{
    width: 40px;
    height: 40px;
    margin: 0 29px 0 0;
    
}

h9{   
    
    width: 428px;
    height: 22px;
    font-size: 15px;
    font-weight: 500;
    color: white;        
}

#answer{
    width: 1648px;
    height: 230px;
    margin: 0 0 361px 0;   
}

#buttonregenerate{    
    width: 184px;
    height: 37px;
    margin: 9px;
    border-radius: 3px;
    border: solid 1px;
    border-color:#444654;
    background: #343541;
    color: #C5C5D1;
    font-weight: 500;
    font-size: 13px;  
    display: inline-flex;
    align-items: center;
    margin:0 0 10px 0; 
}

#refresh{
    width: 13px;
    height: 11px;
    margin: 0 9px 0 10px;
}

.textfield{
    position: relative;
}

#inputtext{
    width: 768px;
    height: 48px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #40414E;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
}

#send{
    width: 14px;
    height: 14px;
    left: 740px;
    top: 16px;
    position: absolute;
}

h6{
    width: 910px;
    height: 26px;
    margin-top: 8px;
    line-height: 27px;
    font-weight: 400;
    font-size: 12.5px;
    color: #9A9B9F;
      
      
}

#singup{
    height: 26px;
    margin-top: 8px;
    line-height: 27px;
    font-weight: 400;
    font-size: 12.5px;
    color: #9A9B9F; 
}

